.Login {
  position: fixed;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  z-index: 100;
  background-color: white;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.login-title h2 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.login-inputs input {
  width: 100%;
  padding: 14px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #f9f9f9;
  color: #333;
  font-size: 16px;
  transition: 0.3s ease;
}

.login-inputs input:focus {
  border-color: #007bff;

  outline: none;
}

.login-inputs input::placeholder {
  color: #aaa;
}

button {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  background: #dc2638;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #0056b3;
}

/* Align checkbox and text */
.login-condition {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.login-condition input {
  margin-right: 10px;
  accent-color: #007bff;
}

.login-condition p {
  margin: 0;
  color: #666;
}

p span {
  color: #007bff;
  cursor: pointer;
}
/* Background */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #f3f4f6;
  z-index: -1;
}