.cart-page {
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 10vh; 
  margin-top: 50px;
   
}
.cart {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}

.cart-content {
  display: flex;
  justify-content: space-between;
}

.cart-items {
  width: 70%;
  margin-top: 20px;
}

.cart-itemstitle,
.cart-itemsitem {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  text-align: center;
  padding: 10px 0;
}

.cart-itemstitle {
  font-weight: bold;
  font-size: 20px;
  border-bottom: 3px solid #ff6b6b;
}

.cart-itemsitem {
  border-bottom: 1px solid #ddd;
  animation: fadeInUp 0.5s ease-in-out;
  font-size: 16px; /* Set font size for cart items */
}

.cart-itemsitem img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease; /* Transition for image hover effect */
}

.cart-itemsitem img:hover {
  cursor: pointer;
  transform: scale(1.1); /* Scale image on hover */
}

.cart-itemsitem .removecart {
  color: darkred; /* Color for remove button */
  cursor: pointer; /* Change cursor to pointer */
  font-weight: bold; /* Make it bold */
  transition: color 0.3s ease; /* Transition for color change */
}

.cart-itemsitem .removecart:hover {
  color: red; /* Dark red on hover */
  font-size: 20px;
}

.cart-bottom {
  width: 25%;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.cart-total {
  text-align: center;
  margin-bottom: 15px;
}

.cart-totaldetail {
  display: flex;
  padding: 5px 0;
  font-size: 16px;
  color: #555;
}

.cart-totaldetail .price {
  margin-right: 50px;
}

.cart-bottom button {
  color: #fff;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-bottom button:hover {
  background-color: #ff4949; /* Darker shade on hover */
}
