.footer {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 84px;
   margin-left: -8.3rem;
   margin-right: -8.3rem;
}
.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
    max-width: 1200px; /* Optional: restrict content width for better layout */
}

.footer-content-left img {
    height: 200px;
    width: 200px;
    margin-top: -30px;
    margin-left: -2rem;
    transition: transform 0.3s ease-in-out;
}

.footer-content-left img:hover {
    transform: scale(1.1); /* Logo enlarges slightly on hover */
}

.footer-content-left, .footer-content-right, .footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    cursor: pointer;
}

.footer-content-left li, .footer-content-right li, .footer-content-center li {
    list-style: none;
    margin-top: 10px;
}

.footer-content-right h3, .footer-content-center h3 {
    color: black; /* Adjusted for visibility if needed */
}

.footer hr {
    width: 100%;
    height: 3px;
    margin: 20px 0;
    background-color: #000; /* Adjust color as needed */
    border: none;
}

.section:hover {
    font-style: italic;
    color: red;
}

.footer-social-icons a:hover {
    color: skyblue;
}
