.navbar {
    position: fixed !important;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: white;
    z-index: 1000;
    padding: 10px 20px;
    margin-left: -8.3rem;
    margin-right: -8.3rem;
 
  }
  
  
  .navbar .logo {
    width: 60px;
    margin-left: 130px;

  }
  
  .navbar-menu {
    display: flex;
    gap: 20px;
    list-style: none;
    color: #49557e;
    font-size: 17px;
  }
  
  .navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid red;
  }
  
  .navbar li {
    cursor: pointer;
  }
  
  .navbar-search-icon {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .navbar-search-container {
    position: relative;
    display: flex;
    align-items: center;
    background-color:  white;
    width: 100%;
    border-radius: 10px;
    height: 1.75rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px hsl(0, 0%, 15%);
    margin-bottom: 20px;

  }
  
  .navbar-search-container input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1rem;
    width: 100%;
    margin-left: 5px;
  }
  input:focus{
    outline: none;
  }
  #icon{
    color: rgb(207, 185, 170);
   
  }

  .navbar-shopping-cart {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    color: rgba(198, 204, 206, 0.966);
  }
  
  .cart-item-count {
    position: absolute;
    top: -14px;
    right: -15px;
    background-color: #ff00808c;
    color: white;
    border-radius: 100%;
    padding: 4px 7px;
    font-size: 12px;
    font-weight: bold;
  }
  
  
  .navbar button {
    position: relative;
    align-items: center;
    background-color: white;
    color: hwb(220 27% 71%);
    width: 30%;
    border-radius: 10px ;
    height: 1.75rem;
    padding: 0 15px;
    border: none;
    box-shadow: 0px 0px 8px hsl(0, 0%, 15%);
    margin-bottom: 20px;
    margin-right: 10px;
  }
  
  .navbar button:hover {
    background-color: hwb(9 94% 3%);
  }

  